
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1rem;
    background-color: black;
    border-radius: 0.4rem;
    width: 100%;
    overflow-x: hidden;
}

.image{
    width: 2rem;
    height: 80%;
}

.image img{
    width: 60px;
    height: 80%;
    border-radius: 0.4rem;
    object-fit: fill;
    scale: 1.1;
    box-shadow: 3px 3px 15px white;
    cursor: pointer;
}

.rest-nav{
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.nav-hm{
    all: unset;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.nav-cart{
    all: unset;
    color: white;
    font-weight: 600;
    cursor: pointer;
    display: flex;
}
.cnt{
    font-size: 13px;
    margin-top: -10px;
    margin-left: -3px;
    color: white;
    padding: 3px 3px;
    border-radius: 4rem;
    height: fit-content;
}